[submodule "thirdparty/etcd"]
	path = thirdparty/etcd
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3.git
[submodule "thirdparty/brpc"]
	path = thirdparty/brpc
	url = https://github.com/apache/brpc.git
